<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empireminecraft.emcapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.empireminecraft.emcapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.empireminecraft.emcapp.Thread"
            android:label="@string/title_activity_thread"
            android:parentActivityName="com.empireminecraft.emcapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empireminecraft.emcapp.MainActivity" />
        </activity>
        <activity
            android:name="com.empireminecraft.emcapp.Post"
            android:label="@string/title_activity_post"
            android:parentActivityName="com.empireminecraft.emcapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activity_thread" />
        </activity>
        <activity
            android:name="com.empireminecraft.emcapp.GalleryView"
            android:label="@string/title_activity_gallery"
            android:parentActivityName="com.empireminecraft.emcapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.empireminecraft.emcapp.MainActivity" />
        </activity>
    </application>

</manifest>
